@charset "UTF-8";
header {
  height: auto;
  background-color: #004242;
  color: #ffffff;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1vh;
  text-transform: uppercase; }

.flogo {
      display: block; 
      margin: auto;
      border-radius: 12px;
 }

.container {
  /*display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 40% 60%;*/ }

.container .item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container .encabezado {
    color: #004242;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    letter-spacing: .5px;
    margin-bottom: 1em;
    border-bottom: 1px solid #e2dfdf; }

.instrucciones {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: justify;
  font-size: 14px;
  color: #595857;
  border-radius: 10px; }



.contador {
  color: white;
  background-color: #4577B9;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 10px auto;
  padding: 8px auto;
 }

.btn {
  color: white;
  background-color: #D1003E;
  padding: 10px 20px;
  border-radius: 5px; }

.ocultar {
  display: none; }

/* página registro concluido */
.pacifico {
  font-family: 'Pacifico', cursive; }

.registrado {
  width: 40%;
  margin: 0 auto;
  margin-top: 20%; }

.registrado-titulo {
  font-size: 35px;
  text-align: center;
  color: #00A493;
  margin-bottom: 24px; }

.registrado-mensaje {
  color: #787878;
  text-align: center; }

.registrado-nota {
  font-size: 13px;
  color: #787878; }

.registrado-nota a,
.instrucciones a {
  color: #00A493; }

ol.listaTemas li a {
  font-weight: bold;
  text-transform: uppercase;
  color: #004242;
  font-size: 12px; }

.descripcionTema h1 {
  font-size: 20px;
  color: #8CB746;
  text-transform: uppercase;
  font-weight: bold; }

.descripcionTema p {
  font-size: 15px;
  color: #004242;
  text-align: justify; }

.descripcionTema img {
  height: 80px; }

img.perfil {
  height: 60px; }
